@use "sass:color";
@use "sass:map";
@import "./1_base/fonts";
@import "./1_base/reset";
@import "./2_utils/variables";
@import "./2_utils/mixin";

html {
    font-size: 20px;

    @include mediaquery (xl) {
        font-size: 18px;
    }

    @include mediaquery (l) {
        font-size: 16px;
    }
}

.layout {
    max-width: map-get($breakpoints, xl-screen);
    margin: auto;
}

.too_small_no {
    @include mediaquery (s) {
        display: none;
    }
}

.too_small_yes {
    display: none;
    @include mediaquery (s) {
        display: block;
    }
}

body {
    background-image: url('../icons/background3.svg');
    background-repeat: repeat;
}

.title {
    text-align: center;
    background-color: white;
    position: relative;

    &__logo {
        padding: 1.37rem 0 0.69rem 0;
        font-family: 'Shrikhand', cursive;
        font-size: 1.87rem;
    }

    &__return {
        position: absolute;
        left: 1.44rem;
        top: calc(1.37rem + 1.87rem / 2);
        font-size: 1.00rem;
    }
}

.localisation {
    height: 3.12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray_lighter;
    box-shadow: inset 0 0.25rem 0.25rem $gray-light;

    &__icon {
        font-size: 1.00rem;
        margin-right: 1.12rem;
        color: $gray-darker;
    }

    &__geozone {
        font-family: 'Roboto_Medium', sans-serif;
        font-size: 1.00rem;
        color: $gray-darker;
    }
}

.description {
    padding: 2.62rem 0 3.56rem;
    text-align: center;
    background-color: $gray_xtralight;

    &__title {
        margin: 0 4.06rem 0.87rem;
        font-size: 1.50rem;

        @include mediaquery (m) {
            margin: 0 2rem 1.25rem;
        }
    }

    &__subtitle {
        margin: 0 2.44rem 1.87rem;
        font-family: 'Roboto_Light', sans-serif;
        font-size: 1.12rem;
    }

    &__button {
        height: 3.12rem;
        padding: 0 1.37rem;
        border: none;
        border-radius: 1.56rem;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        cursor: pointer;

        &__text {
            font-size: 1.00rem;
            color: white;
        }

        &:hover {
            background: linear-gradient(to bottom right, $primary-color, $secondary-color);
        }
    }
}

.working {
    padding: 3.19rem 1.25rem 2.75rem;
    background-color: white;

    &__title {
        margin-bottom: 1.87rem;
        font-size: 1.50rem;
    }

    &__button {
        height: 4.62rem;
        width: calc(70% - 0.75rem);
        margin: 0 auto 1.5rem;
        border: none;
        border-radius: 1.00rem;
        background-color: $gray_xtralight;
        position: relative;
        box-shadow: 0 0.3rem 0.3rem $gray-light;
        display: flex;
        align-items: center;
        cursor: pointer;

        @include mediaquery (l) {
            width: calc(100% - 0.75rem);
            margin: 0 0 1.5rem 0.75rem;
        }

        &__number {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 0.75rem;
            position: absolute;
            left: -0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.75rem;
            color: white;
            background-color: $primary-color;
        }

        &__icon {
            font-size: 1.25rem;
            position: absolute;
            left: 2.06rem;
            color: $gray-dark;
        }

        &__text {
            margin-left: 4.56rem;
            font-family: 'Roboto_Medium', sans-serif;
            font-size: 1.00rem;
        }

        &:hover {
            background-color: $primary-color-light;

            & > .working__button__icon {
                color: $primary-color;
            }
        }
    }
}

.canteen {
    position: relative;

    &__img {
        height: 18.50rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__tab {
        position: absolute;
        bottom: 0;
        width: calc(100% - 2.24rem);
        background-color: $gray-xtralight;
        border-radius: 2.37rem 2.37rem 0 0;
        padding: 2.44rem 1.12rem 0.69rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &__title {
            font-family: 'Shrikhand', cursive;
            font-size: 1.75rem;
        }


    }
}

.heart-button {
    margin-right: 1.25rem;
    cursor: pointer;
    position: relative;

    &__icon {
        font-size: 1.31rem;

        &--bw {
            opacity: 1;
            transition: opacity ease-in-out 300ms;
        }

        &--c {
            position: absolute;
            left: 0;
            color: $secondary-color;
            opacity: 0;
            transform: scale(0);
            transition: opacity ease-in-out 300ms, transform cubic-bezier(0.42, 0, 0.51, 1.97) 300ms;
        }
    }

    &:hover {
        & > .heart-button__icon--bw {
            opacity: 0;
        }

        & > .heart-button__icon--c {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.restaurants {
    padding: 3.56rem 1.25rem 2.88rem;
    background-color: $gray-xtralight;

    &__title {
        margin-bottom: 1.50rem;
        font-size: 1.50rem;
    }

    &__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.tile {
    margin-bottom: 1.12rem;
    min-width: 48.5%;
    border-radius: 0.75rem;
    background-color: white;

    @include mediaquery (l) {
        width: 100%;
    }


    &:nth-of-type(1) > .tile__photo {
        background-image: url('../images/restaurants/compressed_jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    }

    &:nth-of-type(2) > .tile__photo {
        background-image: url('../images/restaurants/compressed_stil-u2Lp8tXIcjw-unsplash.jpg');
    }

    &:nth-of-type(3) > .tile__photo {
        background-image: url('../images/restaurants/compressed_toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    }

    &:nth-of-type(4) > .tile__photo {
        background-image: url('../images/restaurants/compressed_louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
    }

    &__photo {
        height: 10.87rem;
        position: relative;
        border-radius: 0.75rem 0.75rem 0 0;
        background: center / cover;

        &__new {
            height: 1.81rem;
            width: 5.02rem;
            font-family: 'Roboto_Medium', sans-serif;
            font-size: 0.87rem;
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            border-radius: 0.12rem;
            background-color: $tertiary-color;
            color: $tertiary-color-dark;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__description {
        padding: 1.12rem 0.87rem 1.00rem;
        position: relative;

        &__name {
            margin-bottom: 0.31rem;
            font-size: 1.12rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__place {
            font-family: 'Roboto_Light', sans-serif;
            font-size: 1.06rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__love {
            font-size: 1.50rem;
            position: absolute;
            top: calc(50% - 0.75rem);
            right: 1.50rem;

            @include mediaquery (m) {
                top: unset;
                right: 1.00rem;
                bottom: 1.00rem;
            }
        }
    }

    &:hover {
        background-color: $primary-color-light;
        opacity: 0.6;
    }
}

.menu {
    padding: 0 0.87rem 2.25rem;
    background-color: $gray-xtralight;

    &__title {
        font-family: 'Roboto_Light', sans-serif;
        font-size: 1.00rem;
        margin: 0 0 0.31rem 0.44rem;
        padding-top: 1.75rem;
    }

    &__line {
        height: 0.19rem;
        width: 2.50rem;
        background-color: $tertiary-color;
        margin: 0 0 0.87rem 0.44rem;
    }

    &__element {
        position: relative;
        display: flex;
        margin-bottom: 0.87rem;
        border-radius: 0.75rem;
        background-color: white;
        cursor: pointer;
        overflow: hidden;
/*        opacity: 0;
        transform: translateY(10.00rem);*/

        &__description {
            padding: 0.87rem 0 0.75rem 0.69rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            transition: width 500ms;
        }

        &__text {
            max-width: calc(100% - 4.50rem);
        }

        &__price {
            padding: 0 1.44rem;
            display: flex;
            align-items: flex-end;
            font-family: 'Roboto_Medium', sans-serif;
            font-size: 0.94rem;
        }

        &__check {
            position: absolute;
            right: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.69rem;
            background-color: $tertiary-color;
            border-radius: 0 0.75rem 0.75rem 0;
            transform: translateX(100%);
            transition: transform 500ms;

            &__icon {
                color: white;
                font-size: 1.25rem;
                transition: none;
            }
        }

        &:hover {
            /*            padding-right: 3.69rem;
*/
            & > .menu__element__description {
                width: calc(100% - 3.69rem);
            }

            & > .menu__element__check {
                transform: translateX(0);
            }

            & .menu__element__check__icon {
                transform: rotate(360deg);
                transition: transform 500ms;
            }
        }
    }
}


.bottom_page {
    max-width: map-get($breakpoints, xl-screen);
    margin: auto;
    background-color: $gray-darker;
}

.foot {
    max-width: calc(map-get($breakpoints, xl-screen) - 2.50rem);
    padding: 1.56rem 1.25rem 2.21rem;

    &__title {
        margin-bottom: 1.58rem;
        font-family: 'Shrikhand', cursive;
        font-size: 1.10rem;
        color: white;
        text-align: center;

        @include mediaquery (l) {
            text-align: start;
        }
    }

    &__bloc {
        display: flex;
        justify-content: space-evenly;

        @include mediaquery (l) {
            display: block;
        }
    }

    &__subbloc {
        min-width: 45%;

        @include mediaquery (l) {
            min-width: unset;
        }

        &__link {
            position: relative;
            margin-bottom: 0.56rem;
            display: flex;
            justify-content: center;

            @include mediaquery (l) {
                justify-content: flex-start;
            }


            &:hover > .foot__subbloc__ {
                &icon {
                    color: $tertiary-color;
                }

                &text {
                    color: $tertiary-color;
                }

                &text--light {
                    color: $tertiary-color;
                }
            }
        }

        &__icon {
            position: relative;
            font-size: 0.81rem;
            color: white;

            @include mediaquery (l) {
                position: absolute;
            }
        }

        &__text {
            margin-left: 0.5rem;
            font-family: 'Roboto_Medium', sans-serif;
            font-size: 1.00rem;
            color: white;

            @include mediaquery (l) {
                margin-left: 1.44rem;
            }


            &--light {
                font-family: 'Roboto_Light', sans-serif;
                font-size: 1.00rem;
                color: white;
            }
        }
    }
}

.warning {
    margin: 0.3rem;

    &__picture {
        margin: auto;
        width: 100%;
    }

    &__text {
        padding: 0.25rem;
        text-align: center;
        font-size: 1.5rem;

        @include mediaquery (xs) {
            font-size: 1.00rem;
        }

        @include mediaquery (xxs) {
            font-size: 0.50rem;
        }
    }
}