@use "sass:color";
@import "./1_base/fonts";
@import "./1_base/cleaning";
@import "./1_base/base";
@import "./2_utils/variables";


.head {
    text-align: center;
    .logo {
        font-family: 'Shrikhand', cursive;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1.4rem 0 0.75rem 0;
    }
}

.localisation {
    height: 3rem;
    background: $gray-lighter;
    box-shadow: inset 0 0.33rem 0.33rem $gray-light;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        height: 1rem;
        color: $gray-dark;
        margin-right: 1.15rem;
    }
    .geozone {
        font-size: 0.75rem;
        font-weight: bold;
        color: $gray-darker;
    }
}


footer{
    a {
        display: flex;
    }
}