@use "sass:color";
@import "./1_base/fonts";
@import "./1_base/cleaning";
@import "./1_base/base";
@import "./2_utils/variables";


.head {
    text-align: center;
    box-shadow: 0 0.33rem 0.33rem $gray-light;
    .logo {
        font-family: 'Shrikhand', cursive;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1.4rem 0 0.75rem 0;
    }
}

.localisation {
    height: 3rem;
    background: $gray-lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    .geozone {
        font-size: 0.75rem;
        font-weight: 700;
        color: $gray-darker;
    }
}


footer{
    a {
        display: flex;
    }
}