.layout {
    max-width: 900px;
    margin: auto;
}

.icon {
    max-height: 1.25rem;
    max-width: 1.25rem;
}

.shrikhand {
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
}

.roboto {
    &--light {
        font-family: 'Roboto_Light', sans-serif;
    }

    &--medium {
        font-family: 'Roboto_Medium', sans-serif;
    }

    &--black {
        font-family: 'Roboto_Black', sans-serif;
    }
}

.f__size {
    &--10 {
        font-size: 0.65rem;
    }

    &--12 {
        font-size: 0.75rem;
    }

    &--14 {
        font-size: 0.85rem;
    }

    &--18 {
        font-size: 1.15rem;
    }

    &--24 {
        font-size: 1.5rem;
    }
}

.bg__color {
    &--xtralight {
        background-color: $gray_xtralight;
    }

    &--lighter {
        background-color: $gray_lighter;
    }

    &--light {
        background-color: $gray_light;
    }

    &--dark {
        background-color: $gray_dark;
    }

    &--darker {
        background-color: $gray_darker;
    }
    &--gradient_diag_primtosecond {
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    }
}

.color {
    &--green {
        color: $tertiary-color-dark;
    }

    &--white {
        color: white;
    }

    &--gray_darker {
        color: $gray-darker;
    }
}