@font-face {
    font-family: "Roboto_Light";
    src: url("../fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto_Medium";
    src: url("../fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto_Black";
    src: url("../fonts/Roboto-Black.ttf") format('truetype');
}

@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format('truetype');
}
