@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf") format('truetype');
}
