/*Couleurs*/
$primary-color: #9356DCFF;
$primary-color-light: color.adjust($primary-color, $lightness: 35%);
$secondary-color: #FF79DAFF;
$tertiary-color: #99E2D0FF;
$tertiary-color-dark: color.adjust($tertiary-color, $saturation:35%, $lightness: -50%);

$gray-darker: #262626FF;
$gray-dark: color.adjust($gray-darker, $lightness: 30%);
$gray-light: color.adjust($gray-darker, $lightness: 60%);
$gray-lighter: color.adjust($gray-darker, $lightness: 75%);
$gray-xtralight: color.adjust($gray-darker, $lightness: 80%);

/*FontAwesome*/
$fa-font-path: "../scss/7_vendors/fontawesome/webfonts";

/*Media queries*/
$breakpoints: (
    xxs-screen: 80px,
    xs-screen: 140px,
    s-screen: 250px,
    m-screen: 350px,
    l-screen: 700px,
    xl-screen: 900px
);

/*Variables des keyframes :*/
/* > pour le loader : général ($loader-duration: durée totale du loader)*/
$loader-duration: 3000ms;
/* > pour le loader : caroussel ($w: largeur des images)*/
$loader-w: 10vw;
/* > pour les plats : apparition ($iterations-nb: nombre d'éléments à animer)*/
$iterations-nb: 16;
/* > pour les plats : apparition ($menu-duration: durée d'une transition)*/
$menu-duration: 250ms;
/* > pour les plats : apparition ($v-offset: décalage vertical)*/
$v-offset: 25%
